@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slowPan {
  0% { background-position: center top; }
  50% { background-position: center bottom; }
  100% { background-position: center top; }
}

.animate-slowPan {
  animation: slowPan 25s linear infinite;
}
html {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}